body {
    background-color: lightblue;
    font-family: cursive;
}

.ortalama {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.islem {
    border-radius: 25px;
    padding: 10px;
    color: white;
    background-color: grey;
    border: 2px black solid;
    width: 300px;
    height: 400px;
    position: relative;
}

input {
    margin-top: 20px;
    border-radius: 10px;
}

.btn {
    margin-top: 40px;
    width: 120px;
    height: 50px;
    margin-left: 95px;
    border-radius: 15px;
}

.gidis {
    border-radius: 15px;
    width: 100px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.dönüs {
    border-radius: 15px;
    width: 100px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 10px;
    bottom: 10px;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#sonuc {
    font-weight: bold;
    margin-left: 45%;
    display: block;
    margin-top: 20%;
}

button {
    font-family: cursive;
}


button:hover {
    background-color: lightskyblue;
    color: black;
    cursor: pointer;
}